# for testing purposes, uses direnv

CML_HOST="https://192.168.122.245"
CML_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJjb20uY2lzY28udmlybCIsImlhdCI6MTY1MjA4NDA4OCwiZXhwIjoxNjUyMTcwNDg4LCJzdWIiOiIwMDAwMDAwMC0wMDAwLTQwMDAtYTAwMC0wMDAwMDAwMDAwMDAifQ.8m2H-_45JzM2-bRl4OmSN_sGC1ns080LNNPMVWqC3bY"
CML_LABID="0662d84c-dbf3-4883-9531-53c98d89bc73"
TF_VAR_token=$CML_TOKEN

export CML_HOST CML_TOKEN CML_LABID TF_VAR_token
